

  body {  
    background-color:lightpink;
  }

  h1 {
    font-family:'monospace','Times New Roman', Times, serif;
    font-size: 50px;
    color:black;
    text-align: center;
    background-color: rgb(253, 209, 253);
  }

  h3 {
    font-family:'monospace','Times New Roman', Times, serif;
    font-size: 16px;
    font-weight:lighter;
    color: rgb(3, 3, 3);
    text-align: center;
  }
  p {
   font-family: 'monospace','Times New Roman', Times, serif;
   color: rgb(11, 16, 19);
   font-size: 16px;
   text-align: center;
  
  }

   .photos{
    width: 400px;
    height: 400px;
    border-radius: 300px;
    padding: 5px 5px 5px 5px;
    align-items: center;
    justify-content:center;
  
    
    }
    .examples {
      padding: 5px 400px 5px 400px;
      width: 400px;
      height: 200px;

    }
    
  button {
    
    font-family:'monospace', 'Times New Roman', Times, serif;
    background-color: rgb(253, 209, 253);
    color: black;
    border-radius: 150px;
    border-style: hidden;
    width: 170px;
    height: 40px;
    display: table-row;
    justify-content: center;
    margin-left: 160px;
margin-inline-start: auto;
margin-inline-end: auto;
  }

.title {
font-family:'monospace','Times New Roman', Times, serif;
font-size: 40px;
color:black;
text-align: center;
background-color: rgb(253, 209, 253);
border: 7px solid palevioletred;
padding: 10px;
margin: 20px 40px 20px 40px;
display:inline-flexbox;


}

.heading {
font-family:'monospace','Times New Roman', Times, serif;
font-size: 20px;
font-weight:bolder;
color: rgb(3, 3, 3);
text-align: center;
background-color:rgb(253, 209, 253);
padding: 10px 10px 10px 10px;
margin: 10px 90px 10px 90px;
border: 7px solid palevioletred;
justify-content: center;

}

.position {
font-family: 'monospace','Times New Roman', Times, serif;
color: rgb(11, 16, 19);
font-size: 16px;
text-align: center;  
width: 1100px;
padding: 10px 10px 10px 10px  ;
margin: 10px 90px 10px 90px;
display: inline-table;

}

.list {
text-align: center;
font-family: 'monospace','Times New Roman', Times, serif;
color: rgb(11, 16, 19);
font-size: 16px;
text-align: center;  
width: 1100px;
padding: 10px 10px 10px 10px  ;
margin: 10px 90px 10px 90px;
display: inline-table;
}

